* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffffe;
    font-family: 'Inter', sans-serif;
}

main {
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* ------------ Estilos de la Cabecera ------------ */
.cabecera {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

.cabecera > h1 {color: #0f0e17;}

.cabecera > h2 {color: #a7a9be;}

/* ------------ Estilos de del Contenedor ------------ */
.contenedor > h3{
    margin: 0 0 15px 5px;
    color: #e53170;
    font-size: 1.5rem;
    text-decoration: underline;
}

.contenedor_desafios, .contenedor_propios{
    margin: 5px 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.carta {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #333;
}

.carta > img {width: 250px;}

.carta > a {
    margin: 10px 0;
    color: #2e2f3e;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}

/* ------------ Responsive ------------ */
@media screen and (max-width: 1024px) {
    .contenedor_desafios, .contenedor_propios{
        justify-content: space-evenly;
    }    
}

@media screen and (max-width: 890px) {
    .contenedor > h3{
        text-align: center;
    }
}

@media screen and (max-width: 630px) {
    .contenedor_desafios, .contenedor_propios{
        justify-content: center;
    }

    .carta > img {
        width: 300px;
    }
}

@media screen and (max-width: 450px) {
    .cabecera > h2 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 450px) {
    .carta > img {
        width: 250px;
    }
}